.disc
{
    display: flex;
    background-color: #63e952;
}

.disc-img
{
    height: 80%;
    width: 80%;
    margin-top: 80px;
    margin-right: 10%;
}

.div-content
{
    display: flex; /* Activa Flexbox dentro del div */
    flex-direction: column; /* Coloca los párrafos en una columna */
    max-width: 50%; /* Limita el ancho del texto */
    margin-right: 10%;
    padding: 30px;
    line-height: 1.6; /* Mejora la legibilidad del texto */
}
