.flex-header 
{
    display: flex; /* Activa Flexbox */
    align-items: center; /* Alinea las cosas vertical */
    justify-content: space-between; /* Espacio los elementos horizontalmente */
    padding: 10px; /* Agrega poco de espacio interno */
    background-color: var(--bg-color-1-); 
}

.flex-header img 
{
    max-height: 50px; /* Ajusta tamaño del logo */
}

.flex-header h1
{
    position: absolute; /* centrar el título sin afectar otros elementos */
    left: 50%; /* Mueve el título horizontalmente */
    transform: translateX(-50%); /* centrarlo completamente si o si */
    font-size: 1.5em;
    color: var(--bg-color-2-);
}
