section {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse; /* Cambia la dirección del texto a derecha-izquierda */
    padding: 100px;
    background-color: #fff4df;
}

.content {
    display: flex; /* Activa Flexbox dentro del div */
    flex-direction: column; /* Coloca los párrafos en una columna */
    max-width: 50%; /* Limita el ancho del texto */
    margin-right: 5%;
    padding: 30px;
}

section img 
{
    max-width: 40%; 
    height: 50%;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 30px;
}

section h2 
{
    margin: 10px 10; /* Espacio alrededor del título */
    font-size: 3.9em; /* Tamaño del título */
}

section p 
{
    margin: 10px 10; /* Espacio entre los párrafos */
    line-height: 1.6; /* Mejora el leer del texto */
    font-size: 1.1em;
}

.sectionmargen
{
    display: flex; /* Activa Flexbox */
    justify-content: flex-start;
    flex-direction: row-reverse; /* Cambia la dirección a derecha-izquierda */
    padding: 100px;
    background-color: #ffc04c;
}